<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
        {{#if devoured}}{{else}}<i class="fas fa-hamburger"></i>{{/if}}
    </button>
</li>