<div class="main">
    <h1 class="textCenter">Burgers!</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Burgers that have not been eaten</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        {{!-- burgers that have been devoured --}}
        <div class="col-md-6 ">
            <h2>Burgers that have been devoured</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            {{!-- need ids and classes to match html --}}
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
        </div>

        <div class="form-group">
            <label for="devoured">Devour it!</label>
            <input type="radio" name="devoured" value="1" checked> Devoured!<br>
            <input type="radio" name="devoured" value="0"> Not Devoured Yet!
        </div>

        <button type="submit">Add Burger</button>
    </form>
</div>