body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

#container {
align-items: center;
}

.textCenter {
    text-align: center;
}

.main {
    background-image: url("../img/burger2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
}

.list {
    color: white;
}

.change-devoured { 
    box-shadow: 0px 1px 0px 0px #fff6af; 
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%); 
    background-color:#ffec64; 
    border-radius:6px; 
    border:1px solid #ffaa22; 
    display:inline-block; 
    cursor:pointer; 
    color:#333333; 
    font-family:Arial; 
    font-size:15px; 
    font-weight:bold; 
    padding:6px 24px; 
    text-decoration:none; 
    text-shadow:0px 1px 0px #ffee66; 
} 

.change-devoured:hover { 
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%); 
    background-color:#ffab23; 
} 

.change-devoured:active { 
    position:relative; 
    top:1px; 
}

.btn { 
    box-shadow: 0px 1px 0px 0px #fff6af; 
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%); 
    background-color:#ffec64; 
    border-radius:6px; 
    border:1px solid #ffaa22; 
    display:inline-block; 
    cursor:pointer; 
    color:#333333; 
    font-family:Arial; 
    font-size:15px; 
    font-weight:bold; 
    padding:6px 24px; 
    text-decoration:none; 
    text-shadow:0px 1px 0px #ffee66; 
} 

.burger-input {
    color: white;
}